# 2020 Transaction Pipeline
Read in credit card, bank, brokerage, investment, pay pal, etc. transactions into a common format for analysis, categorization, exploration.

In [1]:
import pandas as pd
pd.__version__

'1.2.1'

## Migrated to morgan_stanley.py Morgan Stanley
All activity, all accounts: 1/1/2020 - 12/31/2020
### Original Columns
```
Index(['Activity Date', 'Transaction Date', 'Account', 'Activity',
       'Check Number', 'Card Number', 'Description', 'Symbol', 'Cusip',
       'Quantity', 'Price($)', 'Amount($)'],
      dtype='object')
```

In [27]:
column_names = {
    'Activity Date': 'activity_date',
    'Transaction Date': 'transaction_date',
    'Account': 'account',
    'Activity': 'activity',
    'Check Number': 'check_number',
    'Card Number': 'card_number',
    'Description': 'description',
    'Symbol': 'symbol',
    'Cusip': 'cusip',
    'Quantity': 'quantity',
    'Price($)': 'price',
    'Amount($)': 'amount'
}
column_types = {
    # 'Activity Date': 'datetime64',
    # 'Transaction Date': 'datetime64',
    'Account': 'object',
    'Activity': 'object',
    'Check Number': 'string',
    'Card Number': 'string',
    'Description': 'object',
    'Symbol': 'object',
    'Cusip': 'object',
    'Quantity': 'float64',
    'Price($)': 'float64',
    'Amount($)': 'float64'   
}

In [44]:
ms_raw = pd.read_csv(
        'MS2020_all_activity.csv',
        skiprows=4,
        thousands=r',',
        parse_dates=['Activity Date', 'Transaction Date'],
        dtype = column_types
    ).sort_values(by='Transaction Date', ascending=False
    ).rename(columns=column_names
    ).fillna('')
ms_raw.info()
ms_raw

<class 'pandas.core.frame.DataFrame'>
Int64Index: 454 entries, 0 to 453
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_date     454 non-null    datetime64[ns]
 1   transaction_date  454 non-null    datetime64[ns]
 2   account           454 non-null    object
 3   activity          454 non-null    object
 4   check_number      454 non-null    string
 5   card_number       454 non-null    string
 6   description       454 non-null    object
 7   symbol            454 non-null    object
 8   cusip             454 non-null    object
 9   quantity          454 non-null    float64
 10  price             454 non-null    float64
 11  amount            454 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(5), string(2)
memory usage: 46.1+ KB

,activity_date,transaction_date,account,activity,check_number,card_number,description,symbol,cusip,quantity,price,amount
0,2020-12-31,2020-12-31,New Roth IRA - 5445,Interest Income,,,MORGAN STANLEY PRIVATE BANK NA (Period 12/01-1...,MSPBNA,061871976,0.000,0.00,0.20
6,2020-12-31,2020-12-31,Main Investment - 7145,Sold,,,WALGREENS BOOTS ALLIANCE INC UNSOLICITED TRADE,WBA,931427108,241.000,39.51,9522.39
10,2020-12-31,2020-12-31,Checking - 6312,Direct Deposit,,,DIRECT DEP FUNDS RECVD PROLIANCE CONSUL DIRECT...,-,-,0.000,0.00,4356.86
9,2020-12-31,2020-12-31,Main Investment - 7145,Dividend,,,KRANESHARES CSI CHINA INTERNET,KWEB,500767306,0.000,0.00,45.61
8,2020-12-31,2020-12-31,Main Investment - 7145,Bought,,,"SALESFORCE.COM,INC. UNSOLICITED TRADE",CRM,79466L302,31.000,221.47,-6865.58
...,...,...,...,...,...,...,...,...,...,...,...,...
449,2020-01-02,2020-01-02,Checking - 6312,Automated Payment,,,AMEX EPAYMENT ACH PMT CHK ACCT ENDING IN 7180,-,-,0.000,0.00,-1220.78
450,2020-01-02,2019-12-31,Main Investment - 7145,Dividend,,,INVESCO OPP SR FLOATING RATE Y,OOSYX,00141G831,0.000,0.00,405.60
451,2020-01-02,2019-12-31,Main Investment - 7145,Dividend Reinvestment,,,INVESCO OPP SR FLOATING RATE Y REINVESTMENT AS...,OOSYX,00141G831,54.297,7.47,-405.60
452,2020-01-02,2019-12-31,Main Investment - 7145,Dividend,,,PGIM SHORT-TERM CORP BOND Z,PIFZX,74441R508,0.000,0.00,108.43
453,2020-01-02,2019-12-31,Main Investment - 7145,Dividend Reinvestment,,,PGIM SHORT-TERM CORP BOND Z REINVESTMENT AS OF...,PIFZX,74441R508,9.733,11.14,-108.43

In [43]:
# non-empty check_number or card_number
ms_raw[(ms_raw['check_number'] != '') | (ms_raw['card_number'] != '')]

,activity_date,transaction_date,account,activity,check_number,card_number,description,symbol,cusip,quantity,price,amount
292,2020-06-18,2020-06-18,Checking - 6312,Check,1184,,DESIGN WEST MGMT Check # 1184,-,-,0.0,0.0,-2175.00
311,2020-06-01,2020-05-30,Checking - 6312,Cash Advance,,2622,BOEING EMPLOYEE SEATTLE WA Transaction ...,-,-,0.0,0.0,-503.00
317,2020-05-29,2020-05-29,Checking - 6312,Check,1183,,RICARDO MARTINEZ Check # 1183,-,-,0.0,0.0,-850.00
326,2020-05-14,2020-05-14,Checking - 6312,Check,1181,,DESIGN WEST MGMT Check # 1181,-,-,0.0,0.0,-2175.00
333,2020-05-06,2020-05-06,Checking - 6312,Check,1182,,EMPLOYERS ADVANTAGE DIRECT Check # 1182,-,-,0.0,0.0,-555.04
336,2020-05-04,2020-05-02,Checking - 6312,Cash Advance,,2622,BOEING EMPLOYEE SEATTLE WA Transaction ...,-,-,0.0,0.0,-603.00
355,2020-04-20,2020-04-20,Checking - 6312,Check,1180,,EMPLOYERS ADVANTAGE DIRECT Check # 1180,-,-,0.0,0.0,-555.05
359,2020-04-08,2020-04-08,Checking - 6312,Check,1179,,EMPLOYERS ADVANTAGE DIRECT Check # 1179,-,-,0.0,0.0,-555.04
363,2020-04-06,2020-04-06,Checking - 6312,Check,1177,,DESIGN WEST MGMT Check # 1177,-,-,0.0,0.0,-2175.00
388,2020-03-18,2020-03-18,Checking - 6312,Check,1175,,DESIGN WEST Check # 1175,-,-,0.0,0.0,-2175.00
416,2020-02-14,2020-02-14,Checking - 6312,Check,1174,,DESIGN WEST MGMT Check # 1174,-,-,0.0,0.0,-2175.00
442,2020-01-22,2020-01-22,Checking - 6312,Check,1170,,DESIGN WEST MGMT Check # 1170,-,-,0.0,0.0,-2175.00

In [45]:
# distinct accounts
pd.unique(ms_raw['account'])

array(['New Roth IRA - 5445', 'Main Investment - 7145', 'Checking - 6312',
       'IRA Standard - 5359', 'IRA SEP (closed) - 6986',
       'IRA 401K (closed) - 8275', 'old Roth IRA - 6410'], dtype=object)

In [55]:
ms_amount = ms_raw[['activity_date', 'activity', 'amount', 'description']]
ms_dir_dep = ms_amount[
    (ms_amount['description'].str.contains('DIRECT DEP'))
    & (ms_amount['description'].str.contains('COZY') == False)
].sort_values('activity_date')

In [68]:
print(f"{ms_dir_dep['amount'].sum():,.2f}")

109,140.00

In [67]:
print(f"{ms_raw[ms_raw['activity'].str.contains('Dividend')]['amount'].sum():,.2f}")

10,256.22

In [70]:
print(f"{ms_raw[ms_raw['activity'].str.contains('Fee')]['amount'].sum():,.2f}")

-5,257.81

In [72]:
print('Sum of Fees')
ms_raw[ms_raw['activity'].str.contains('Fee')].groupby('account').sum()

Sum of Fees

                         quantity  price   amount
account
Checking - 6312               0.0    0.0     6.00
IRA SEP (closed) - 6986       0.0    0.0     0.00
IRA Standard - 5359           0.0    0.0 -1114.24
Main Investment - 7145        0.0    0.0 -2896.49
New Roth IRA - 5445           0.0    0.0 -1178.08
old Roth IRA - 6410           0.0    0.0   -75.00

In [65]:
pd.unique(ms_raw['activity'])

array(['Interest Income', 'Sold', 'Direct Deposit', 'Dividend', 'Bought',
       'Automated Payment', 'Account Fee', 'Qualified Dividend',
       'Service Fee', 'LT Cap Gain Distribution', 'Stock Split',
       'Dividend Reinvestment', 'Service Fee Adj', 'CASH TRANSFER',
       'Mobile Deposit', 'Refund', 'Class Exchange',
       'Transfer into Account', 'Transfer out of Account', 'Check',
       'Branch Deposit', 'Cash Advance'], dtype=object)

# DONE.